* {
	font-family: "Outfit", sans-serif;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-color: hsl(212, 45%, 89%);
	text-align: center;
	font-size: 15px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.card {
	background-color: hsl(0, 0%, 100%);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	overflow: auto;
	box-shadow: 0px 10px 45px hsla(0, 0%, 0%, 0.2);
}

#qr-image {
	width: 18rem;
	height: auto;
	margin: 1rem;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.para {
	font-size: 15px;
	width: 0;
	min-width: 100%;
}

.para h2,
p {
	position: relative;
	top: -15px;
	padding: 0px 28px;
}

#main-text {
	color: hsl(218, 44%, 22%);
}
#info-text {
	font-weight: regular;
	color: hsl(220, 15%, 55%);
}

.attribution {
	font-size: 11px;
	text-align: center;
	margin-top: 40px;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
